/*滚动条整体部分,必须要设置*/
/* ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background-color: #333;
} */
/*滚动条的轨道*/
/* ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    background-color: #9e9fad;
} */
/*滚动条的滑块按钮*/
/* ::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #7b8083;
    box-shadow: inset 0 0 0px #000;
} */
/*滚动条的上下两端的按钮*/
/* ::-webkit-scrollbar-button{
    height: 8px;
    background-color: #9e9fad;
} */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #0003;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
*,div,p,h1,h2{margin:0;padding:0;}
/* body{font-family:"Microsoft Yahei",verdana;font-weight:normal;} */
body,html{height:100%;}
/*html{-webkit-text-size-adjust: none;}*/
body,ul{margin:0;padding:0}
li{list-style:none}
a{text-decoration:none;transition:background 0.3s ease 0s,color 0.3s ease 0s;color:#333;}
a:link,a:visited{text-decoration:none;outline-style:none;}
a:hover{color:#a71e32;}
.clearline{clear:both;height:.1rem;overflow:hidden;}
.clear{clear:both;height:0px;overflow:hidden;display:block;}
.fxl,a.fxl{float:left !important;}
.fxr,a.fxr{float:right !important;}
.clearfix{zoom:1;}
.clearfix:after{content:".";height:0;display:block;overflow:hidden;clear:both;}
.hide{display:none;}
.text-wid,a.text-wid{display:block;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;}
.fs-12{font-size:.1rem !important;}
.fs-14{font-size:.13rem !important;}
.fs-18{font-size:.18rem !important;}
.fs-20{font-size:.2rem !important;}
.pos-abs{position:absolute !important;}
.pos-rel{position:relative !important;}
.pos-fix{position:fixed !important;}
/* .rad3{border-radius:3px !important;-moz-border-radius:3px !important;-webkit-border-radius:3px !important;}
.rad5{border-radius:5px !important;-moz-border-radius:5px !important;-webkit-border-radius:5px !important;}
.rad10{border-radius:.1rem !important;-moz-border-radius:.1rem !important;-webkit-border-radius:.1rem !important;}
.rad15{border-radius:.15rem !important;-moz-border-radius:.15rem !important;-webkit-border-radius:.15rem !important;}
.rad20{border-radius:.2rem !important;-moz-border-radius:.2rem !important;-webkit-border-radius:.2rem !important;}
.rad50{border-radius:.5rem !important;-moz-border-radius:.5rem !important;-webkit-border-radius:.5rem !important;}
.rad100{border-radius:100% !important;-moz-border-radius:100% !important;-webkit-border-radius:100% !important;}
.opa1,.opa-1{opacity:0.1;-moz-opacity:0.1;filter:alpha(opacity=10);}
.opa2,.opa-2{opacity:0.2;-moz-opacity:0.2;filter:alpha(opacity=20);}
.opa3,.opa-3{opacity:0.3;-moz-opacity:0.3;filter:alpha(opacity=30);}
.opa4,.opa-4{opacity:0.4;-moz-opacity:0.4;filter:alpha(opacity=40);}
.opa5,.opa-5{opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=50);}
.opa6,.opa-6{opacity:0.6;-moz-opacity:0.6;filter:alpha(opacity=60);}
.opa7,.opa-7{opacity:0.7;-moz-opacity:0.7;filter:alpha(opacity=70);}
.opa8,.opa-8{opacity:0.8;-moz-opacity:0.8;filter:alpha(opacity=80);}
.opa9,.opa-9{opacity:0.9;-moz-opacity:0.9;filter:alpha(opacity=90);}
.opa10,.opa-10{opacity:1;-moz-opacity:1;filter:alpha(opacity=100);} */
.h5{height:.05rem;margin:.0rem;}
.h10{height:.1rem;}
.h20{height:.2rem;}
.text-center{text-align:center;}
.pad-no-l{padding-left:.0rem !important;}
.pad-no-t{padding-top:.0rem !important;}
.pad-no{padding:.0rem !important;}
.pad5{padding:.05rem;}
.pad10{padding:.1rem;}
.mar-no{margin:.0rem !important;}
.mar5{margin:.05rem !important;}
.mar10{margin:.1rem !important;}
.bg-white{background:#fff !important;}
.m20{margin-top:.2rem;}
.m10{margin-top:.1rem;}
.box-shadow{box-shadow:.0rem .0rem .1rem  rgba(0,0,0,.1);}
input:focus {outline:none;}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-right:.1rem;
    padding-left:.1rem;}
.row{margin:.0rem;}

div,ul,li,ol,li,span,a,b,h1,h2,h3,h4,h5,main,section,header,aside{
box-sizing: border-box;
}
.el-header {
    background-color: #b50029;
    color: #fff;
    text-align: left;
    height: 60px;
    line-height: 60px;
    width: 100%;
    padding: 0 20px 0 0;
}
.el-container .el-main{
    height: calc(100vh - 90px);
}
.el-main{
    --el-main-padding:8px 8px 0 8px;
}
.el-main>div.customer-box{
    height: calc(100vh - 98px);
    width: 100%;
    background-color: #fff;
    padding: 8px;
    overflow-y: auto;
}
.el-container.box{
    flex-direction:column
}

.el-descriptions__header .el-descriptions__title {
    border-left: 4px solid #c70531;
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 600;
    margin: 2px 0 0;
}
.card-title {
    /* font-size: 14px; */
    font-weight: 600;
    padding: 1px 10px;
    border-left: 4px solid #c70531;
    text-align: left;
    margin: 4px;
   
   
  }
  .card-title  .add-info {
    font-size: 0.7em;
    font-weight: 400;
  }

  .el-footer{
    --el-footer-height: 30px;
    height: 30px;
    background: #fff;
    text-align: right;
    border-top:2px solid #dfdfff;
    background: #f0fbfa;
  }
 
  .el-descriptions__label.hide-label{
    display: none;
  }
 /* table tr th{
    background-color: #d2f4f9;
  } */
  .el-table th.el-table__cell{
    background-color: #d2f4f9;
    color: blue;
  }